.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-gap: .5em;
  grid-template:
  ". header ." 5em
  ". image ." auto
  ". inputs ." 5em
  ". button ." 2em
  "footer footer footer" 3em
  ". album . " auto
  /1fr 6fr 1fr
}


.header {
  grid-area: header;
  font-family: 'Pacifico', cursive;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.image {
  grid-area: image;
  display: grid;
}

.inputs {
  grid-area: inputs;
  display: grid;
  align-content: center;
}

Input {
  margin: 0.25rem;
  justify-items: center;
}

.button {
  grid-area: button;
}

.album {
  grid-area: album;
  display: flex;
}

.album > a {
  grid-area: album;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.newMeme {
  height: 100px;
  margin: 0.5rem;
  border: .25rem solid turquoise;
}

.footer {
  grid-area: footer;
  background-color: transparent;
}

.footer > a {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer > a:hover {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  color: turquoise;
}
